.CartItem{
     margin: 100px 170px;
}
.CartItem hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.CartItem-format-main{
   display: grid;
   grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr  ;
   align-items: center;
   gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.CartItem-format{
    font-size: 17px;
    font-weight: 500;
}
.CartItem-product-icon{
    height: 62px;
}
.CartItem-product-icon{

}
.CartItem-quatity{
   width: 64px;
   height: 50px;
   border: 2px solid #ebebeb;
   background: #fff;
}
.cartItem-remove_icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.CartItems-down{
    display: flex;
    margin: 100px 0px;
}

.CartItem-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 10px;
}
.CartItem-total-item{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.CartItem-total button{
    width: 262px;
    height: 58px;
    border: none;
    outline: none;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.CartItem-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.CartItem-promocode p {
      color: #555;
}
.CartItem-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.CartItem-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.CartItem-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background:black ;
    color: white;
    cursor: pointer;
}