.ProductDisplay{
    display: flex;
    margin: 0px 170px;
}
.ProductDisplay-left{
    display: flex;
    gap: 17px;
}
.ProductDisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 15px; 
}
.ProductDisplay-img-list img{
    height: 170px;
    scale: 0.8;
}
.ProductDisplay-img-list img:hover{
    scale: 0.9;
}
.ProductDisplay-img{
   height: 163px;
}
.ProductDisplay-mani-img{
    width: 590px;
    height: 720px;
}
.ProductDisplay-right{
    display: flex;
    margin: 0px 70px;
    flex-direction: column;
}
.ProductDisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
    width:630px;
}
.productDisplay-right-star{
     display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.ProductDisplay-right-priges{
    
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.prodeuctDisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.prodeuctDisplay-right-price-new{
    color: #ff4141;
}

.prodectDisplay-right-size{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;

}
.prodectDisplay-right-sizes{
    display: flex;
    margin: 30px 0;
    gap: 20px;
}
.prodectDisplay-right-sizes div{
    padding: 18px 24px ;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.prodectDisplay-right-sizes div:hover{
    background: #ff4141;
    color: white;
    transition: 2s;
}
.ProductDisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    outline: none;
    border: none;
    cursor: pointer;
}
.ProductDisplay-right button:hover{
    background: #da7878;
    transition: 1s;
}
.pardectDisplay-right-category{
    font-size: 16px;
}
.pardectDisplay-right-category span{
    font-weight: 600;
}


